@import "settings/all";
@import "tools/all";

.main-content {
	padding-top: 0;
}

.section-top-title {
	font-size: 56px;
	line-height: 1.286;
	margin: 0;
}

.section {
	--s-desc-top: 34px;
}

.section-header-beside {
	.section-description-wrap {
		margin: 27px 0 0;
	}
}

.section-description {
	font-size: $body-font-size-small;
	font-weight: 500;
	line-height: 30px;
	color: #ccc;

	a {
		color: $primary-color;
		text-underline-offset: 2px;

		&:hover {
			text-decoration: underline;
		}
	}
}

.block-report-table,
.block-report-chart {
	--border-size: -3px;
	position: relative;
	padding: var(--content-top-spacing, 31px) var(--content-h-spacing, 30px) var(--content-bottom-spacing, 33px);
	border-radius: var(--block-round, 10px);

	&:before {
		content: '';
		position: absolute;
		top: var(--border-size);
		right: var(--border-size);
		bottom: var(--border-size);
		left: var(--border-size);
		border-radius: inherit;
		background: linear-gradient(135deg, rgba(226, 226, 226, 0) 0%, #393939 53.57%, rgba(226, 226, 226, 0) 100%);
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: inherit;
		background: var(--block-bg, #151515);
	}

	.block-content {
		position: relative;
		z-index: 1;
	}

	&.block-chart-style--02 {
		&:after {
			background: var(--block-bg, #000);
		}
	}
}

.block-table-body {
	overflow-x: auto;
}

.block-report-chart {
	/* min height for chart */
	--chart-height: 350px;
	margin: var(--chart-top-spacing, 88px) 0 var(--chart-bot-spacing, 96px);
}

.block-chart-blur {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	user-select: none;

	.chart-blur-circle {
		width: var(--size, 870px);
		max-width: 76%;
		border-radius: 50%;
		background: radial-gradient(39.03% 39.03% at 50% 50%, rgba(0, 64, 212, 1) 0%, rgba(106, 52, 212, 0) 100%);
		opacity: .8;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(40%, -34%);

		&:before {
			content: '';
			display: block;
			padding-top: 100%;
		}
	}

	.blur-1 {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(-35%, -35%);
	}

	.blur-2 {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(30%, 30%);
	}

	&.style-02 {
		.blur-1 {
			position: absolute;
			top: 28px;
			left: 0;
			transform: translate(-30%, 0);
		}

		.blur-2 {
			position: absolute;
			top: 0;
			right: 0;
			left: auto;
			transform: translate(34%, -22%);
		}
	}

	&.style-03 {
		.blur-1 {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(-30%, -49%);
		}

		.blur-2 {
			position: absolute;
			top: 0;
			right: 0;
			left: auto;
			transform: translate(28%, -50%);
		}
	}

	&.style-04 {
		.blur-1 {
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(-30%, -30%);
		}
	}

	&.style-05 {
		.blur-1 {
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(-33%, 15%);
		}

		.blur-2 {
			position: absolute;
			top: 0;
			right: 0;
			left: auto;
			transform: translate(40%, -25%);
		}
	}
}

.block-table-heading,
.block-chart-heading {
	font-family: $body-font-family;
	font-size: $body-font-size-large;
	font-weight: 700;
	line-height: 34px;
	margin: 0 0 25px;
	display: flex;
	align-items: center;

	&:before {
		flex-shrink: 0;
		content: '';
		width: 32px;
		height: 34px;
		background: url(../images/logo/simple-logo.png) no-repeat center;
		background-size: 32px 34px;
		margin: 0 15px 0 0;
	}
}

.block-table-footer,
.block-chart-footer {
	--branding-size: 138px;
	margin: 16px 0 0;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	&:after {
		content: '';
		width: var(--branding-size);
		height: 24px;
		background: url(../images/logo/logo.png) no-repeat left center;
		background-size: var(--branding-size) auto;
		margin: 10px 0 0 0;
	}
}

.block-table-source,
.block-chart-source {
	font-size: $body-font-size-small;
	font-weight: 500;
	line-height: 30px;
	max-width: var(--chart-source-w, 100%);
	margin: 10px 10px 0 0;

	p {
		margin: 0 0 4px;

		&:last-child {
			margin: 0;
		}
	}
}

.block-chart {
	position: relative;
	max-width: 100%;
	margin: 0 auto;

	&:before {
		content: '';
		padding-top: var(--chart-ratio, 45%);
		min-height: var(--chart-height, 0);
		display: block;
	}

	> div {
		position: absolute !important;
		top: 0;
		left: 0;
	}
}

.block-chart-group {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	> div {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.block-chart-child {
	margin: 0 0 40px;

	&:last-child {
		margin: 0 !important;
	}
}

.block-report-table {
	--td-beside-gap: 19px;
	--td-ver-gap: 11px;
	--td-hoz-gap: 10px;
	margin: var(--block-top-spacing, 100px) 0 var(--block-bottom-spacing, 100px);

	.block-table-heading {
		margin: 0 0 10px;
	}

	&.table-style-02 {
		--block-bg: #000;
		--th-bg: none;
		--td-bg: #151515;
		--tr-radius: 8px;
		--tr-spacing: 8px;

		table {
			font-size: 18px;
			line-height: 30px;
			font-weight: 400;
		}
	}

	&.table-style-03 {
		--block-bg: #000;

		tr {
			&:before {
				display: none;
			}
		}

		th {
			border-radius: var(--tr-radius, 5px);
			background: var(--th-bg, $secondary-color);
		}

		td {
			border-radius: var(--tr-radius, 5px);
			background: var(--td-bg, #151515);
		}
	}
}

.block-table-big-header {
	padding: 0 !important;
	--block-round: 20px;

	.block-table-header {
		position: relative;
		z-index: 1;
		min-height: 120px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 10px var(--content-h-spacing, 30px);
	}

	.block-table-header-cover {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: var(--block-round, 10px) var(--block-round, 10px) 0 0;
		overflow: hidden;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.block-header-title {
		font-size: 40px;
		font-weight: 700;
		color: #fff;
		margin: 0;

		img {
			margin: 0 12px 0 0;
		}
	}

	.block-content {
		padding: var(--content-top-spacing, 31px) var(--content-h-spacing, 30px) var(--content-bottom-spacing, 33px);
	}
}

.block-table-widget {
	border-collapse: separate !important;
	border-spacing: var(--td-spacing, 0) var(--tr-spacing, 6px) !important;
	line-height: 28px;
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	border-bottom: 0 !important;

	.sorting {
		&:before,
		&:after {
			@extend %FontAwesomeSolid;
		}

		&:before {
			content: '\f0d8' !important;
		}

		&:after {
			content: '\f0d7' !important;
		}
	}

	&.dataTable .sorting_asc:before,
	&.dataTable .sorting_desc:after {
		opacity: 1 !important;
	}

	td, th {
		border: 0 !important;
		padding: var(--td-ver-gap) var(--td-hoz-gap);

		&:first-child {
			padding: var(--td-ver-gap) var(--td-hoz-gap) var(--td-ver-gap) var(--td-beside-gap);
		}

		&:last-child {
			padding: var(--td-ver-gap) var(--td-beside-gap) var(--td-ver-gap) var(--td-hoz-gap);
		}

		img {
			margin: 0 9px 0 0;
			vertical-align: middle;
		}
	}

	thead tr {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			border-radius: var(--tr-radius, 8px);
			background: var(--th-bg, $secondary-color);
		}
	}

	tbody tr {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			border-radius: var(--tr-radius, 4px);
			background: var(--td-bg, rgba(41, 41, 41, .6));
		}
	}

	th {
		font-size: 16px;
		font-weight: 700;
		background: none;
		color: #fff !important;
		vertical-align: bottom;
	}

	td {
		color: #ccc;
		background: none;
	}

	.token-info {
		display: flex;
		align-items: center;
		text-align: left;
		font-weight: 700;
		font-size: 16px;
		color: #fff;

		img {
			width: var(--token-icon-size, 24px);
		}

		.token-name-symbol {
			color: #777;
			margin: 0 0 0 4px;
		}
	}
}

.block-table-footer {
	margin: 8px 0 0 !important;
}

.block-text {
	max-width: var(--block-maxw, 100%);
	margin: var(--block-top-spacing, 0px) 0 var(--block-bottom-spacing, 0px);

	.row {
		--bs-gutter-x: 40px;
	}

	.heading {
		font-size: 32px;
		line-height: 1.5;
		width: var(--heading-width, auto);
		max-width: 100%;
		display: inline-block;
		background: -webkit-linear-gradient(96.41deg, #3ee200 3.81%, #ecff0c 40.3%, #4cf371 96.16%);
		background: linear-gradient(96.41deg, #3ee200 3.81%, #ecff0c 40.3%, #4cf371 96.16%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
		/** Fix text gradient cropped **/
		padding-top: .1785em;
		margin: 0 0 var(--header-spacing, 29px);
	}

	.text-wrap {
		max-width: 100%;
	}

	.text {
		font-size: $body-font-size-small;
		font-weight: 500;
		line-height: 30px;
		width: var(--text-width, 100%);
		max-width: 100%;
		color: #ccc;

		a {
			color: $primary-color;
			text-underline-offset: 2px;

			&:hover {
				text-decoration: underline;
			}
		}

		p {
			margin: 0 0 var(--text-br-lineheight, 25px);

			&:last-child {
				margin: 0;
			}
		}
	}
}

.highlight-word {
	font-weight: 700;
	color: #fff;
}

.block-text-justify-center {
	text-align: center;
	margin: var(--block-top-spacing, 0px) auto var(--block-bottom-spacing, 0px);
}

.grid-contributors {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -15px;

	.grid-item {
		flex: 0 0 var(--item-width, 25%);
		max-width: var(--item-width, 25%);
		padding: 0 15px;
		margin-bottom: var(--item-margin, 30px);
	}

	.grid-item-1-3 {
		--item-width: 33.333333%;
	}

	.grid-item-1-5 {
		--item-width: 20%;
	}
}

.block-contributor {
	@extend %NormalTransition;
	--avatar-size: 160px;
	--avatar-max-size: 66%;
	--avatar-padding: 6px;
	--avatar-spacing: 26px;
	--block-rounded: 16px;
	position: relative;
	z-index: 0;
	display: block;
	text-align: center;
	height: 100%;
	padding: 40px 10px 38px;

	&:before {
		transition: all .35s cubic-bezier(.2, .75, .5, 1);
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #151515;
		border-radius: var(--block-rounded);
		z-index: -1;
	}

	&:hover {
		&:before {
			background-color: #232323;
			transform: scale(1.05, 1.05);
		}
	}

	.avatar-wrap {
		position: relative;
		display: flex;
		justify-content: center;
		margin: 0 0 var(--avatar-spacing);
	}

	.avatar {
		--outline-size: 2px;
		position: relative;
		width: var(--avatar-size);
		max-width: var(--avatar-max-size);
		padding: var(--avatar-padding);
		border-radius: 50%;
		background: #020722;

		img {
			border-radius: 50%;
			position: relative;
			z-index: 1;
		}

		&:before {
			@extend %NormalTransition;
			content: '';
			position: absolute;
			top: calc(-1 * var(--outline-size));
			right: calc(-1 * var(--outline-size));
			bottom: calc(-1 * var(--outline-size));
			left: calc(-1 * var(--outline-size));
			border-radius: inherit;
			background: linear-gradient(-135deg, #4a75ad 0%, rgba(43, 54, 28, 0) 53.57%, #42703d 100%);
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: inherit;
			border-radius: inherit;
		}
	}

	.name {
		position: relative;
		z-index: 2;
		font-size: 20px;
		line-height: 28px;
		margin: 0;

		small {
			font-size: .9em;
			font-weight: 400;
		}
	}

	.position {
		position: relative;
		z-index: 2;
		margin: 9px 0 0;
		font-size: 18px;
		line-height: 30px;
	}

	&.layout-horizontal {
		--avatar-size: 94px;
		--avatar-spacing: 16px;
		--block-rounded: 10px;
		display: flex;
		align-items: center;
		text-align: start;
		padding: 15px 20px 15px 26px;
		min-height: 152px;

		.avatar-wrap {
			flex-shrink: 0;
			margin: 0 var(--avatar-spacing) 0 0;
			max-width: 36%;
			transform: none;
		}

		.avatar-placeholder {
			display: none;
		}

		.avatar {
			position: relative;
			top: auto;
			left: auto;
			max-width: 100%;
			margin: 0;
			transform: none;
		}

		.info {
			flex-grow: 1;
		}

		.name {
			font-size: 18px;
		}

		.position {
			font-size: 17px;
			font-weight: 500;
			margin: 6px 0 0;
		}
	}

	&.block-small {
		.name {
			font-size: 18px;
		}

		.position {
			font-size: 17px;
			font-weight: 500;
			margin: 6px 0 0;
		}
	}
}

.block-friend {
	--block-rounded: 10px;
	position: relative;
	min-height: 80px;
	z-index: 0;
	padding: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	&:before {
		transition: all .35s cubic-bezier(.2, .75, .5, 1);
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #151515;
		border-radius: var(--block-rounded);
		z-index: -1;
	}

	&:hover {
		&:before {
			background-color: #232323;
			transform: scale(1.05, 1.05);
		}
	}
}

.section-report-contributors {
	padding: 120px 0 185px;
	--s-header-spacing: 69px;

	.section-shape-blur {
		bottom: 0;
		left: 0;
		right: 0;
		transform: translateY(32%);
		text-align: center;
	}
}

.section-report-friends {
	.section-shape-01 {
		top: 0;
		left: 0;
		transform: translate(-50%, 50px);
		--shape-max-width: 50vw;
	}
}

.site-footer {
	--s-desc-width: 850px;
}

@include media-breakpoint-up(md) {
	.grid-item-md-1-3 {
		--item-width: 33.333333%;
	}
}

@include media-breakpoint-up(lg) {
	.block-chart-child {
		flex: 0 0 48% !important;
		max-width: 48% !important;
		margin: 0 !important;

		.block-chart-heading {
			font-size: 18px;
			line-height: 28px;
			min-height: 56px;
		}
	}

	.section-report-friends {
		.section-header {
			.section-description {
				max-width: 340px;
			}
		}
	}

	.grid-item-lg-1-5 {
		--item-width: 20%;
	}
}

@media screen and (min-width: 1600px) {
	.section-reports-hero .section-title {
		font-size: 116px;

		.sub-title {
			font-size: 76px;
		}
	}
}

@media screen and (max-width: 1400px) {
	.section-top-title {
		font-size: 48px;
	}

	.section-report-friends {
		.section-shape-01 {
			transform: translate(-25%, 8%);
		}
	}
}

@include media-breakpoint-down(lg) {
	.section-top-title {
		font-size: 40px;
	}

	.block-text .heading {
		font-size: 34px;
	}
}

@include media-breakpoint-down(md) {
	.section-report-friends {
		.section-header {
			margin: 0 auto 40px;
			text-align: center;
			--s-header-width: 670px;

			.section-header-inner {
				margin: 0 auto;
			}
		}

		.section-shape-01 {
			display: none;
		}
	}

	.grid-contributors {
		.grid-item-1-3 {
			--item-width: 50%;
		}
	}

	.block-contributor {
		//--avatar-max-size: 50%;

		.name {
			font-size: 18px;
		}

		&.layout-horizontal {
			--avatar-spacing: 12px;

			.block-content {
				padding: 20px 10px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.section-description {
		font-size: 16px;
		line-height: 26px;
	}

	.page-reports .main-content {
		padding: 120px 0 0;
	}

	.section-top-title {
		font-size: 34px;
	}

	.block-text {
		.heading {
			font-size: 26px;
		}

		.text {
			font-size: 16px;
			line-height: 26px;
		}

		.col-md-6 + .col-md-6 {
			margin-top: 14px;
		}
	}

	.block-report-chart {
		--chart-top-spacing: 50px;
		--chart-bot-spacing: 50px;
		--content-h-spacing: 25px;
		--block-round: 8px;
		--border-size: -2px;
		--chart-ratio: 70%;
	}

	.block-report-table {
		--block-round: 8px;
		--border-size: -2px;
		--content-h-spacing: 25px;
	}

	.block-table-heading,
	.block-chart-heading {
		font-size: 18px;
		line-height: 30px;
	}

	.block-table-source,
	.block-chart-source {
		font-size: 16px;
		line-height: 26px;
	}

	.block-report-table {
		&.table-style-02 {
			table {
				font-size: 16px;
			}
		}
	}

	.grid-contributors {
		--item-width: 50%;

		.grid-item-1-3 {
			--item-width: 100%;
		}
	}

	.section-report-contributors {
		--s-header-spacing: 50px;
		padding: 90px 0 80px;
	}

	.section-report-friends {
		.section-header-beside {
			text-align: center;

			.section-header-inner {
				margin: 0 auto;
			}
		}

		.partners-grid {
			.partner-item {
				min-height: 70px;
			}
		}
	}
}

@media screen and (max-width: 575px) {
	.block-report-chart {
		--content-h-spacing: 15px;
	}

	.block-report-table {
		--content-h-spacing: 15px;
	}

	.grid-contributors {
		--item-width: 100%;
	}
}

@media screen and (max-width: 460px) {
	.section-top-title {
		font-size: 28px;
	}

	.page-reports {
		.section {
			--s-desc-top: 20px;
		}
	}

	.block-text {
		.heading {
			font-size: 22px;
		}

		.text {
			font-size: 14px;
			line-height: 24px;
		}
	}
}
