@import "settings/all";
@import "tools/all";

.section-reports-hero {
	padding: 260px 0 280px;
	background: url(../images/report/q4-2022/hero-bg.png) no-repeat center center;
	background-size: auto;
	--s-header-spacing: 0;

	.section-title {
		font-size: 7.250vw;
		line-height: 1.1;

		.sub-title {
			margin: 5px 0 0;
			display: block;
			font-size: 0.666667em;
		}
	}

	.section-sub-title {
		font-size: 32px;
		line-height: 1.5;
		margin: 27px 0 0;
	}

	.hero-shape-dotinsights {
		right: 19%;
		bottom: 12%;
		--shape-max-width: 15vw;
	}

	.hero-shape-dot {
		top: 18%;
		right: 15%;
		--shape-max-width: 13.2vw;
	}

	.hero-shape-ksm {
		left: 10%;
		bottom: 9%;
		--shape-width: 226px;
		--shape-max-width: 15vw;
	}

	.hero-shape-sw {
		top: 80px;
		left: 10%;
		--shape-max-width: 13.2vw;
	}

	.hero-shape-ring {
		left: 40%;
		top: 18%;
		--shape-width: 59px;
	}

	.hero-shape-satellite {
		bottom: 48%;
		right: 18%;
		--shape-max-width: 36px;
	}
}

.section-look-back-polkadot-2022 {
	padding: 18px 0 0;
	--s-header-width: 970px;
	--s-header-spacing: 0;
	--s-callout-top: 39px;
	--s-desc-line-spacing: 26px;

	.shape-ball {
		left: -170px;
		bottom: 25%;
		--shape-max-width: 7vw;
	}

	.shape-cone {
		bottom: -60px;
		right: -180px;
		--shape-max-width: 8vw;
		--shape-width: 190px;
	}

	.section-header-inner {
		position: relative;

		.section-shape {
			z-index: -1;
		}
	}

	.section-description {
		font-size: $body-font-size-large;
		line-height: 32px;
	}
}

.section-ecosystem-overview {
	padding: 142px 0 284px;
	--s-header-spacing: 99px;

	.section-header {
		min-height: 144px;
	}

	.section-top-title {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.shape-group-box-grid {
		.shape-ball {
			top: 18%;
			left: 11%;
		}

		.shape-cone {
			bottom: 5%;
			right: 5%;
		}

		.shape-dot {
			bottom: 60%;
			right: 28%;
			--shape-width: 148px;
			--shape-max-width: 9vw;
		}

		.shape-satellite-04 {
			bottom: 11%;
			left: 39%;
		}
	}

	.shape-group-galaxy {
		right: 0;
		top: 35%;
		transform: translate(65%, 0);

		.shape-blur-circle {
			top: 50%;
			left: 0;
			transform: translate(0, -50%)
		}

		.main-image {
			max-width: 60vw;
		}

		.shape-02 {
			top: 18%;
			left: 13%;
			z-index: 2;
			--shape-max-width: 8vw;
			--shape-width: 84px;
		}

		.shape-hollow-cube {
			bottom: 8%;
			left: 12%;
			z-index: 2;
			--shape-width: 277px;
			--shape-max-width: 15vw;
		}

		.shape-cube {
			bottom: 30%;
			left: 1%;
			z-index: 2;
			--shape-max-width: 8vw;
			--shape-width: 74px;
			transform: translateX(-40%);
		}
	}

	.shape-group-ring {
		left: 0;
		bottom: 30%;
		transform: translate(-37%, 0);
		--shape-max-width: 14vw;

		.shape-radial-circle {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.shape-group-grid {
		bottom: 95px;
		left: 50%;
		transform: translateX(-50%);
		--shape-max-width: 90vw;

		.shape-cone {
			bottom: 0;
			left: 25%;
			transform: translateY(15%);
			--shape-max-width: 10vw;
		}

		.shape-ring {
			right: 8%;
			top: 32%;
			--shape-max-width: 8vw;
			--shape-width: 131px;
			--shape-transform: scale(1, -1) rotate(-90deg);
		}

		.shape-02 {
			top: 20%;
			left: 5%;
			--shape-max-width: 9vw;
			--shape-width: 142px;
		}
	}
}

.section-decentralization-staking {
	.shape-group-transparent-cube {
		right: 0;
		top: 52%;
		transform: translate(58%, 0);
		--shape-max-width: 19vw;

		.shape-radial-circle {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.section-parachain {
	padding: 104px 0 440px;

	.shape-group-galaxy {
		top: 0;
		right: 0;
		transform: translate(30%, -28%);
		z-index: -1;

		.section-shape-blur {
			bottom: 0;
			left: 0;
			right: 0;
			transform: translate(-50px, -50px) scale(-1, 1);
			text-align: center;
		}

		.shape-cube {
			bottom: 50%;
			left: 50%;
			--shape-max-width: 6vw;
			--shape-width: 65px;
		}

		.shape-polygon {
			bottom: 15%;
			left: 20%;
			--shape-width: 448px;
			--shape-max-width: 18vw;
		}

		.shape-02 {
			top: 35%;
			left: 10%;
			--shape-max-width: 9vw;
			--shape-width: 150px;
		}
	}

	.shape-group-grid {
		bottom: 76px;
		left: 50%;
		transform: translateX(-50%);
		--shape-max-width: 90vw;

		.shape-02 {
			bottom: 40%;
			left: 7%;
			--shape-max-width: 9vw;
			--width: 142px;
		}

		.shape-cube {
			bottom: 22%;
			left: 29%;
			transform: translateY(15%);
			--shape-max-width: 10vw;
			--shape-width: 95px;
		}

		.shape-smooth-ring {
			right: 28%;
			bottom: 23%;
			--shape-max-width: 8vw;
		}
	}
}

.section-governance-grant {
	padding: 0 0 380px;

	.shape-group-grid {
		bottom: 90px;
		left: 50%;
		transform: translateX(-50%);
		--shape-max-width: 90vw;

		.shape-polygon {
			bottom: 0;
			left: 25%;
			--shape-max-width: 14vw;
		}

		.shape-ring {
			right: 0;
			top: 32%;
			--shape-max-width: 8vw;
			--shape-width: 131px;
			--shape-transform: scaleY(-1) rotate(-90deg);
		}

		.shape-02 {
			top: 20%;
			left: 5%;
			--shape-max-width: 5vw;
		}
	}

	.shape-group-ksm {
		top: 18%;
		left: 0;

		.shape-dots {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.shape-blur-1 {
			opacity: .3;
			top: 50%;
			left: 50%;
			transform: translate(-55%, -55%);
		}

		.shape-blur-2 {
			opacity: .3;
			top: 50%;
			left: 50%;
			transform: translate(-45%, -45%);
		}

		.shape-dots {
			top: 50%;
			left: 50%;
			width: 570px;
			transform: translate(-50%, -50%);
		}

		> img {
			--shape-width: 250px;
		}
	}

	.shape-group-dot {
		top: 30%;
		right: 0;

		.shape-dots {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.shape-blur-1 {
			opacity: .3;
			top: 50%;
			left: 50%;
			transform: translate(-45%, -35%);
		}

		.shape-blur-2 {
			opacity: .3;
			top: 50%;
			left: 50%;
			transform: translate(-55%, -65%);
		}

		.shape-dots {
			top: 50%;
			left: 50%;
			width: 570px;
			transform: translate(-50%, -50%);
		}

		> img {
			--shape-width: 270px;
		}
	}

	.table--governance-grant-dot {
		.shape-blur-2 {
			top: 25%;
		}
	}
}

.section-community-development {
	padding: 0 0 5px;

	.shape-group-smooth-ring {
		left: 0;
		top: 38%;
		transform: translate(-35%, 0);

		> img {
			--shape-width: 290px;
			--shape-max-width: 18vw;
		}

		.shape-radial-circle {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		.shape-diamond {
			top: -50px;
			right: -35px;
		}

		.shape-ball {
			top: 40%;
			right: -85px;
			--shape-width: 80px;
			--shape-max-width: 7vw;
		}
	}

	.table--dot-forum-statistics {
		--tr-spacing: 4px;

		table {
			font-size: 16px;
			font-weight: 500;
		}

		th,
		td {
			width: 14.2%;

			&:not(:first-child) {
				text-align: end;
			}
		}

		td {
			&:first-child {
				color: $primary-color;
			}
		}
	}
}

.section-dex-amm {
	padding: 104px 0 0;

	.shape-group-galaxy {
		right: 10%;
		top: 5%;

		> img {
			--shape-width: 280px;
			--shape-max-width: 20vw;
		}

		.shape-main {
			z-index: 0;
		}

		.shape-radial-circle.purple {
			--size: 510px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
		}

		.shape-radial-circle.blue {
			--size: 510px;
			top: 50%;
			left: 50%;
			transform: translate(-25%, -25%);
			z-index: -1;
		}

		.shape-cube {
			left: 50%;
			top: 0;
			transform: translate(-70%, -15%);
			--shape-max-width: 9vw;
			--shape-width: 112px;
		}

		.shape-02 {
			left: 5%;
			top: -60px;
			--shape-max-width: 7vw;
			transform: translate(-90%, 0);
		}

		.shape-satellite-04 {
			top: -60px;
			right: 15%;
			--shape-width: 20px;
		}
	}
}

.section-lending-and-borrowing {
	padding: 100px 0 0;
}

.section-liquid-staking {
	padding: 117px 0 0;

	.shape-group-smooth-grid {
		top: 5%;
		right: 0;
		transform: translate(32%, 0);

		.shape-radial-circle {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -60%);
		}

		.shape-cube {
			top: 0;
			left: 20%;
			transform: translate(0, -10%);
			--shape-width: 187px;
			--shape-max-width: 10vw;
		}

		.shape-satellite-04 {
			top: 30%;
			left: -50px;
			--shape-max-width: 5vw;
			--shape-width: 34px;
		}

		.shape-02 {
			top: 0;
			left: 0;
			transform: translate(-50px, -120px);
			--shape-max-width: 9vw;
			--shape-width: 150px;
		}

		.brand-01 {
			--size: 22px;
			top: 45%;
			left: 12%;
		}
	}
}

.section-moonfit-active-users {
	position: relative;
	padding: 0 0 292px;

	.shape-group-smooth-grid {
		bottom: 60px;
		left: 0;
		transform: translate(25%, 0);

		.shape-radial-circle {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -60%);
		}

		.shape-moonfit-mfr {
			top: 0;
			left: 20%;
			transform: translate(0, -10%);
			--shape-width: 171px;
			--shape-max-width: 10vw;
		}

		.shape-cube {
			bottom: 40%;
			left: 45%;
			--shape-max-width: 5vw;
			--shape-width: 53px;
		}

		.shape-ball {
			top: 0;
			left: 5%;
			transform: translate(0, -50px);
			--shape-max-width: 9vw;
			--shape-width: 90px;
		}

		.brand-01 {
			--size: 22px;
			top: 45%;
			left: 12%;
		}
	}

	.block-text--moonfit-users {
		padding: 40px 0 0;
	}
}

.section-stablecoin {
	.shape-group-transparent-cube {
		right: 0;
		top: 20%;
		transform: translate(42%, 0);
		--shape-max-width: 19vw;

		.shape-radial-circle {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.section-bridge {
	padding: 0 0 145px;

	.shape-corner-blur-1 {
		--size: 60vw;
		transform: translate(-35%, 50%);
	}

	.shape-corner-blur-2 {
		--size: 60vw;
		transform: translate(40%, 60%);
	}
}

.section-metaverse {
	padding: 88px 0 30px;
}

.section-defi-economy {
	padding: 150px 0 0;

	.shape-corner-blur-1 {
		--size: 80vw;
		transform: translate(-35%, -65%);
	}

	.shape-corner-blur-2 {
		--size: 60vw;
		transform: translate(15%, -65%);
	}

	.shape-corner-blur-3 {
		--size: 60vw;
		transform: translate(35%, -60%);
	}

	.section-top-title {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.shape-group-box-grid {
		.shape-ksm {
			top: 18%;
			left: 11%;
			--shape-width: 120px;
			--shape-max-width: 7vw;
		}

		.shape-sw {
			bottom: 5%;
			right: 5%;
			--shape-width: 150px;
			--shape-max-width: 8vw
		}

		.shape-dotinsights {
			bottom: 65%;
			right: 28%;
			--shape-width: 92px;
			--shape-max-width: 6vw;
		}

		.shape-dot {
			bottom: 11%;
			left: 17%;
			--shape-width: 118px;
			--shape-max-width: 7vw;
		}
	}
}

.section-report-nfts {
	.section-header {
		margin-top: -100px;
	}

	.section-top-title {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.shape-group-box-grid {
		.shape-ksm {
			top: 18%;
			left: 11%;
			--shape-width: 120px;
			--shape-max-width: 7vw;
		}

		.shape-sw {
			bottom: 5%;
			right: 5%;
			--shape-width: 150px;
			--shape-max-width: 8vw
		}

		.shape-dotinsights {
			bottom: 65%;
			right: 28%;
			--shape-width: 92px;
			--shape-max-width: 6vw;
		}

		.shape-dot {
			bottom: 11%;
			left: 17%;
			--shape-width: 118px;
			--shape-max-width: 7vw;
		}
	}
}

.section-game-fi {
	.shape-group-galaxy {
		right: 0;
		top: 0;
		transform: translate(50%, -30%);

		.shape-blur-circle {
			top: 50%;
			left: 0;
			transform: translate(0, -50%)
		}

		.main-image {
			max-width: 60vw;
		}

		.shape-02 {
			top: 30%;
			left: -3%;
			z-index: 2;
			--shape-max-width: 8vw;
			--shape-width: 150px;
		}

		.shape-cube {
			top: 45%;
			left: 12%;
			z-index: 2;
			--shape-width: 125px;
			--shape-max-width: 9vw;
		}

		.brand-01 {
			--size: 28px;
			top: 76%;
			left: 40%;
		}

		.shape-satellite-04 {
			top: 10%;
			left: 30%;
		}
	}
}

.section-web3 {
	padding: 200px 0 0;

	.section-top-title {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.shape-group-box-grid {
		.shape-ksm {
			top: -30px;
			right: 10%;
			--shape-width: 120px;
			--shape-max-width: 7vw;
		}

		.shape-blur-circle {
			background: #a73ed8;
			opacity: .3;
			transform: translate(-30%, -30%);
		}

		.shape-sw {
			bottom: 30%;
			right: -60px;
			--shape-width: 150px;
			--shape-max-width: 8vw
		}

		.shape-dotinsights {
			top: -50px;
			left: -50px;
			--shape-width: 150px;
			--shape-max-width: 16vw;
		}

		.shape-dot {
			bottom: 11%;
			left: -60px;
			opacity: .5;
			--shape-width: 118px;
			--shape-max-width: 7vw;
		}
	}

	.shape-corner-blur-1 {
		--size: 60vw;
		transform: translate(-50%, -50%);
	}

	.shape-corner-blur-2 {
		--size: 60vw;
		transform: translate(50%, -50%);
	}
}

.section-closing-thoughts {
	--s-header-width: 970px;
	--s-header-spacing: 0;
	--s-desc-line-spacing: 26px;
	--s-desc-top: 36px;
	margin: 135px 0 0;

	.section-content {
		padding: 120px 30px 128px;
		background: #000 url(../images/report/closing-thoughts-bg.jpg) no-repeat center;
		background-size: cover;
		border-radius: 30px;
	}

	.section-shape-shadow {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -48%);
		width: 123vw;
		text-align: center;
	}

	.blur-1 {
		--size: 42vw;
		top: 0;
		left: 0;
		transform: translate(-25%, -25%);
	}

	.blur-2 {
		--size: 30vw;
		bottom: 0;
		left: 0;
		transform: translate(40%, 20%);
	}

	.blur-3 {
		--size: 30vw;
		bottom: 0;
		right: 0;
		transform: translate(10%, 30%);
	}

	.blur-4 {
		--size: 30vw;
		top: 0;
		right: 0;
		transform: translate(10%, -25%);
	}
}

.block-report-post {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0 0 100px;

	.post-thumbnail {
		flex: 0 0 46.2%;
		max-width: 46.2%;
		margin: 0 30px 0 0;
		--border-size: -2px;
		position: relative;
		line-height: 0;
		z-index: 0;
		border-radius: var(--block-round, 12px);

		&:before {
			content: '';
			position: absolute;
			top: var(--border-size);
			right: var(--border-size);
			bottom: var(--border-size);
			left: var(--border-size);
			border-radius: inherit;
			background: linear-gradient(135deg, rgba(226, 226, 226, 0) 0%, #393939 53.57%, rgba(226, 226, 226, 0) 100%);
			z-index: -2;
		}

		img {
			display: block;
			width: 100%;
			border-radius: inherit;
		}
	}

	.shape-blur-circle {
		--blur-size: 50px;
		right: 0;
		top: 50%;
		transform: translate(5%, -50%);
	}

	.post-info {
		font-size: $body-font-size-small;
		line-height: 30px;
		font-weight: 500;
		width: 520px;
		max-width: 100%;

		mark {
			color: $primary-color;
			font-weight: 700;
		}
	}
}

.block-report-post {
	&:nth-child(2n) {
		.post-thumbnail {
			order: 9;
			margin: 0 0 0 30px;
		}

		.shape-blur-circle {
			--blur-size: 50px;
			left: 0;
			top: 0;
			right: auto;
			bottom: auto;
			transform: translate(-10%, -10%);
		}
	}
}

.section-get-started {
	--s-header-width: 100%;
	--s-header-spacing: 100px;
	--s-callout-top: 89px;
	padding: 120px 0 100px;

	.section-call-to-actions {
		h6 {
			font-size: 20px;
			line-height: 28px;
			margin: 0 0 47px;
		}
	}

	.shape-galaxy-1 {
		left: 0;
		top: 30%;
		transform: translate(-25%, 0);

		> img {
			width: 502px;
			max-width: 50vw;
		}

		.shape-radial-circle {
			top: 50%;
			left: 50%;
			transform: translate(-65%, -55%)
		}

		.shape-ring {
			bottom: 24%;
			left: 18%;
			z-index: 2;
			--shape-max-width: 8vw;
			--shape-width: 136px;
		}

		.shape-cube {
			top: 25%;
			right: 38%;
			z-index: 2;
			--shape-max-width: 8vw;
			--shape-width: 72px;
		}

		.shape-02 {
			top: 30%;
			right: 5%;
			z-index: 2;
			--shape-max-width: 6vw;
			--shape-width: 56px;
		}

		.shape-satellite-04 {
			right: 40%;
			top: 15%;
		}
	}

	.shape-galaxy-2 {
		right: 0;
		bottom: 30%;
		transform: translate(55%, 0);

		> img {
			width: 664px;
			max-width: 50vw;
		}

		.shape-radial-circle {
			--size: 770px;
			top: 50%;
			left: 50%;
			transform: translate(-65%, -55%)
		}

		.shape-cube {
			top: 36%;
			left: 24%;
			z-index: 2;
			--shape-max-width: 7vw;
			--shape-width: 80px;
		}

		.brand-01 {
			--size: 18px;
			bottom: 30%;
			left: 15%;
			z-index: 2;
		}

		.shape-02 {
			top: 5%;
			left: 10%;
			z-index: 2;
			--shape-max-width: 8vw;
			--shape-width: 136px;
		}

		.shape-satellite-04 {
			left: 36%;
			top: 14%;
			--shape-width: 28px;
		}
	}
}

.block-about-us {
	width: 970px;
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
	color: #fff;

	h2 {
		margin: 0 0 32px;

		span {
			vertical-align: middle;
			margin: 0 24px 0 0;
		}

		img {
			vertical-align: middle;
			max-width: 25vw;
			min-width: 180px;
		}
	}

	p {

	}

	a,
	mark {
		color: #fff;
		font-weight: 700;
	}
}

.section-about-us {
	.section-content {
		padding: 122px 30px 131px;
		background: $secondary-color url(../images/report/about-us-bg.jpg) no-repeat center;
		background-size: cover;
		border-radius: 30px;
	}
}

.custom-table-source {
	font-size: 17px;
	font-weight: 700;

	p {
		margin: 24px 0 0;
	}
}

.table--token-holder {
	--block-top-spacing: 0;
	--td-spacing: 4px;
	--td-hoz-gap: 20px;
	--td-beside-gap: 20px;
	--tr-spacing: 4px;

	table {
		font-size: 15px;
		line-height: 24px;
	}

	thead {
		--td-ver-gap: 16px;
	}

	tbody {
		--td-ver-gap: 16px;
	}

	th,
	td {
		width: 16.666667%;
	}

	td:first-child {
		color: #fff;
	}
}

.table--governance-grant {
	--block-top-spacing: 0;
	--td-spacing: 4px;
	--td-ver-gap: 16px;
	--tr-spacing: 4px;
	--content-bottom-spacing: 26px;
	--content-h-spacing: 26px;

	flex: 0 0 540px;
	max-width: calc(50% - 15px);

	.block-table-widget {
		font-size: 15px;
		font-weight: 600;
	}

	thead {
		--td-ver-gap: 10px;
	}

	th,
	td {
		width: 50%;
	}

	td {
		min-height: 100px;
	}

	.cell-beneficiary {
		color: #fff;
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;
		margin: 0 0 2px;
	}

	.cell-proposer {
		font-size: 17px;
		font-weight: 500;
		color: $primary-color;

		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.cell-value {
		font-size: 15px;
	}

	.cell-value-in-usd {
		font-size: 17px;
		font-weight: 600;
		color: $primary-color;
	}
}

.section-closing-thoughts {
	--s-header-width: 1150px;
}

@media screen and (min-width: 1600px) {
	.section-reports-hero .section-title {
		font-size: 116px;

		.sub-title {
			font-size: 76px;
		}
	}
}

@media screen and (min-width: 1400px) {

}

@media screen and(min-width: 768px) {
	.section-community-development .table--dot-forum-statistics {
		tbody {
			--td-ver-gap: 17px;
		}
	}
}

@media screen and (max-width: 1400px) {

}

@include media-breakpoint-down(lg) {
	.section-reports-hero {
		padding: 260px 0 200px;
		background-position: center bottom;
	}

	.section-closing-thoughts {
		.blur-1 {
			--size: 60vw;
			--blur-size: 100px;
			transform: translate(-25%, -35%);
		}

		.blur-2 {
			--size: 60vw;
			transform: translate(-25%, 35%);
		}

		.blur-3 {
			--size: 60vw;
			transform: translate(25%, 35%);
		}

		.blur-4 {
			--size: 60vw;
			transform: translate(25%, -35%);
		}

		.section-content {
			border-radius: 20px;
		}
	}
}

@include media-breakpoint-down(md) {

}

@include media-breakpoint-down(sm) {
	.section-reports-hero {
		padding: 100px 0 120px;
	}

	.section-closing-thoughts {
		margin: 100px 0 0;

		.section-content {
			padding: 70px 20px;
		}

		.blur-1 {
			--size: 100vw;
			--blur-size: 100px;
			transform: translate(0, -35%);
		}

		.blur-2 {
			--size: 100vw;
			--blur-size: 100px;
			transform: translate(0, 35%);
		}

		.blur-3 {
			--size: 100vw;
			--blur-size: 100px;
			transform: translate(25%, 35%);
		}

		.blur-4 {
			--size: 100vw;
			--blur-size: 100px;
			transform: translate(50%, -35%);
		}

		.section-content {
			border-radius: 10px;
		}
	}
}
