.section-bubble-projects {
	padding: 90px 0 0;
}

#bubble-projects {
	position: relative;
	width: 100%;
	height: 715px;
}

.bubble-project {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: absolute;
	border-radius: 50%;
	z-index: 0;

	&:before,
	&:after {
		@extend %NormalTransition;
		z-index: -1;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 50%;
		background: radial-gradient(70% 70% at 50% 50%, rgba(0, 0, 0, 0) 10.42%, rgba(0, 0, 34, 0.1) 44.27%, #004bff 100%);
	}

	&:before {
		background: radial-gradient(70% 70% at 50% 50%, rgba(0, 0, 0, 0) 10.42%, rgba(0, 0, 34, 0.1) 44.27%, #004bff 100%);
	}

	&:after {
		opacity: 0;
		background: radial-gradient(70% 70% at 50% 50%, rgba(0, 0, 0, 0) 10.42%, rgba(0, 0, 34, 0.1) 44.27%, #66e1b6 100%);
	}

	&:hover {
		&:before {
			opacity: 0;
		}

		&:after {
			opacity: 1;
		}
	}

	img {
		max-width: 35%;
	}

	h3 {
		font-family: $body-font-family;
		font-weight: 600;
		color: #fff;
		font-size: calc(var(--circle-size) / 8);
		margin: .3em auto 0;
		max-width: 85%;
	}

	.vote-count {
		font-size: calc(var(--circle-size) / 10);
		line-height: 1;
		color: #fff;

		svg {
			position: relative;
			top: -0.05em;
			width: 1em;
			height: 1em;
			margin: 0 5px 0 0;

			.heart {
				fill: #fff;
			}

			* {
				fill: #fff;
			}
		}
	}
}

#symbol-ph-heart-straight {
	.icon {
		fill: #fff;
	}
}
