.project-layer-color-- {
	&parachain {
		color: #4ceaac !important;
	}

	&dapp {
		color: #ff7d0a !important;
	}

	&solochain {
		color: #ffef5b !important;
	}

	&pallet {
		color: #f21c83 !important;
	}

	&relaychain {
		color: #c669ff !important;
	}

	&parathread {
		color: #47d9fa !important;
	}
}
