.project-cat-color-- {
	&wallet {
		color: #9ee542 !important;
	}

	&socialfi {
		color: #f90 !important;
	}

	&nft_marketplace {
		color: #f21c83 !important;
	}

	&infrastructure {
		color: #9293ff !important;
	}

	&defi {
		color: #4ceaac !important;
	}

	&privacy {
		color: #c669ff !important;
	}

	&aggregator {
		color: #ffd4af !important;
	}

	&bridge {
		color: #ffef5b !important;
	}

	&data {
		color: #f01923 !important;
	}

	&cold_wallet {
		color: #b9ffe2 !important;
	}

	&dao {
		color: #47d9fa !important;
	}

	&fintech {
		color: #fd5bdb !important;
	}

	&sustainability {
		color: #4b6bff !important;
	}

	&iot {
		color: #a1a1a1 !important;
	}

	&launchpad {
		color: #f0a08c !important;
	}

	&metaverse {
		color: #00ff47 !important;
	}

	&gaming {
		color: #00ffe1 !important;
	}

	&smartcontracts {
		color: #e6fac3 !important;
	}

	&identity {
		color: #ffb9e1 !important;
	}

	&nft_collection {
		color: #ff7d0a !important;
	}

	&security {
		color: #a0c382 !important;
	}

	&storage {
		color: #a9ac24 !important;
	}

	&scanner {
		color: #fa53aa !important;
	}

	&tooling {
		color: #ed6060 !important;
	}

	&validator {
		color: #47995e !important;
	}
}
