/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
#mc_embed_signup form {
	display: block;
	position: relative;
}

#mc_embed_signup h2 {
	display: none;
}

#mc_embed_signup input[type=checkbox] {
	-webkit-appearance: checkbox;
}

#mc_embed_signup input[type=radio] {
	-webkit-appearance: radio;
}

#mc_embed_signup input:focus {
	border-color: #333;
}

#mc_embed_signup .button {
	width: 100%;
	margin: 20px 0 0 !important
}

#mc_embed_signup .small-meta {
	font-size: 11px;
}

#mc_embed_signup .nowrap {
	white-space: nowrap;
}

#mc_embed_signup .size1of2 {
	clear: none;
	float: left;
	display: inline-block;
	width: 46%;
	margin-right: 4%;
}

* html #mc_embed_signup .size1of2 {
	margin-right: 2%; /* Fix for IE6 double margins. */
}

#mc_embed_signup .mc-field-group label {
	display: none;
	margin-bottom: 3px;
}

#mc_embed_signup .mc-field-group input {
	width: 100%;
	background: $background-2;
}

#mc_embed_signup .mc-field-group select {
	display: inline-block;
	width: 99%;
	padding: 5px 0;
	margin-bottom: 2px;
}

#mc_embed_signup .mc-address-fields-group {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 96%;
	gap: 15px;
}

#mc_embed_signup .datefield, #mc_embed_signup .phonefield-us {
	padding: 5px 0;
}

#mc_embed_signup .datefield input, #mc_embed_signup .phonefield-us input {
	display: inline;
	width: 60px;
	margin: 0 2px;
	letter-spacing: 1px;
	text-align: center;
	padding: 5px 0 2px 0;
}

#mc_embed_signup .phonefield-us .phonearea input, #mc_embed_signup .phonefield-us .phonedetail1 input {
	width: 40px;
}

#mc_embed_signup .datefield .monthfield input, #mc_embed_signup .datefield .dayfield input {
	width: 30px;
}

#mc_embed_signup .datefield label, #mc_embed_signup .phonefield-us label {
	display: none;
}

#mc_embed_signup .indicates-required {
	display: none;
	text-align: right;
	font-size: 11px;
	margin-right: 4%;
}

#mc_embed_signup .asterisk {
	color: #e85c41;
	font-size: 150%;
	font-weight: normal;
	position: relative;
	top: 5px;
}

#mc_embed_signup .clear {
	clear: both;
}

@media screen and (max-width: 400px) {
	#mc_embed_signup .referralBadge {
		width: 50%;
	}
}

#mc_embed_signup .brandingLogo {
	justify-self: right;
}

@media screen and (max-width: 400px) {
	#mc_embed_signup .brandingLogo {
		justify-self: left;
	}
}

#mc_embed_signup .mc-field-group.input-group ul {
	margin: 0;
	padding: 5px 0;
	list-style: none;
}

#mc_embed_signup .mc-field-group.input-group ul li {
	display: block;
	padding: 3px 0;
	margin: 0;
}

#mc_embed_signup .mc-field-group.input-group label {
	display: inline;
}

#mc_embed_signup .mc-field-group.input-group input {
	display: inline;
	width: auto;
	border: none;
}

#mc_embed_signup div#mce-responses {
	text-align: center;
	overflow: hidden;
	margin: 8px 0 0 !important;
}

#mc_embed_signup div.response {
	display: block;
	font-weight: 500 !important;
	font-size: 14px;
}

#mc_embed_signup #mce-error-response {
	display: none;
}

#mc_embed_signup #mce-success-response {
	color: #529214;
	display: none;
}

#mc_embed_signup label.error {
	display: block;
	float: none;
	width: auto;
	margin-left: 1.05em;
	text-align: left;
	padding: .5em 0;
}

#mc_embed_signup .helper_text {
	display: none;
	color: #8d8985;
	margin-top: 2px;
	/*display: inline-block;*/
	padding: 3px;
	background-color: rgba(255, 255, 255, 0.85);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	font-weight: normal;
	z-index: 1;
}

#mc_embed_signup #num-subscribers {
	font-size: 1.1em;
}

#mc_embed_signup #num-subscribers span {
	padding: .5em;
	border: 1px solid #ccc;
	margin-right: .5em;
	font-weight: bold;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
	background: none !important;
	display: block;
	font-weight: 500 !important;
	font-size: 14px;
	color: #e85c41;
	text-align: center;
	margin: 3px 0 0 !important;
	padding: 0 !important;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
	border-color: #e85c41 !important;
}

#mc_embed_signup {
	.brandingLogo {
		display: none;
	}
}
