.dotinsights-modal {
	--modal-rounded: 16px;
	--modal-spacing: 30px 2rem 40px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 100001;
	display: flex;
	align-items: center;
	justify-content: center;
	@include LightCloseCursor();

	&.open {
		@extend %SlowTransition;
		opacity: 1;
		visibility: visible;

		.modal-content {
			opacity: 1;
			visibility: visible;
		}
	}

	.modal-overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: #000;
		opacity: .9;
	}

	.button-close-modal {
		@extend %FontAwesomeLight;
		@extend %NormalTransition;
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 24px;
		width: 28px;
		height: 28px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		cursor: pointer;
		flex-shrink: 0;
		color: #777;
		z-index: 1;

		svg {
			display: block;

			*[stroke]:not([stroke='none']) {
				stroke: currentColor;
			}

			*[fill]:not([fill='none']) {
				fill: currentColor;
			}
		}

		&:hover {
			color: #fff;
		}
	}

	.modal-content {
		@extend %SlowTransition;
		position: relative;
		opacity: 0;
		visibility: hidden;
		width: var(--modal-width, 570px);
		max-width: calc(100vw - 50px);
		cursor: auto;
		border: 0;
		background: none;
		border-radius: 0;
	}

	.modal-content-header {
		margin: 0 0 var(--modal-header-spacing, 24px);
	}

	.modal-shape {
		position: absolute;
		pointer-events: none;
		z-index: -1;

		img {
			transform: var(--shape-transform, none);
			max-width: var(--shape-max-width, 100%);
		}
	}

	.modal-title {
		flex-grow: 1;
		font-size: var(--modal-title-size, 20px);
		line-height: 1.4;
		margin: 0;
	}

	.modal-description {
		font-size: 13px;
		font-weight: 500;
		line-height: 22px;
		margin: 13px 0 0;
	}

	.modal-content-wrap {
		position: relative;
		display: flex;
		overflow-y: auto;
		border-radius: var(--modal-rounded);
		background: #232323;
		max-height: calc(100vh - 60px);

		.handheld & {
			overflow-y: scroll;
		}
	}

	.modal-content-inner {
		flex-grow: 1;
		padding: var(--modal-spacing);
	}
}

.modal-subscribe {
	.modal-content-left {
		--modal-content-left-h-gutter: 15px;
		background: $secondary-color;
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 232px;
		max-width: 41%;
		flex-shrink: 0;
		padding: 60px var(--modal-content-left-h-gutter);
		z-index: 0;
		overflow: hidden;
	}

	.subscribe-logo {
		transform: translateY(-10px);
	}

	.modal-copyright-text {
		position: absolute;
		bottom: 19px;
		left: var(--modal-content-left-h-gutter);
		right: var(--modal-content-left-h-gutter);
		font-size: 12px;
		line-height: 19px;
		font-weight: 500;
		color: rgba(255, 255, 255, .7);

		a,
		mark {
			font-weight: 700;
			color: #fff;
		}

		a {
			text-underline-offset: 2px;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.modal-shape-01 {
		opacity: .1;
		top: 0;
		left: 0;
		transform: translate(-25%, -25%);
		--shape-max-width: 20vw;
	}

	.modal-shape-02 {
		opacity: .05;
		bottom: 0;
		right: 0;
		transform: translate(25%, 25%);
		--shape-max-width: 25vw;
	}

	.modal-shape-03 {
		opacity: .3;
		top: 41px;
		right: -16px;
	}

	.modal-shape-04 {
		opacity: .2;
		bottom: 77px;
		left: -5px;
	}
}

.modal-connect-wallet {
	//--modal-width: 450px;
	--modal-spacing: 30px 40px 40px;

	.modal-content-header {
		position: relative;
		display: flex;
	}

	.button-close-modal {
		position: static;
	}

	.btn-install-connect-wallet {
		--mg-button-height: 72px;
		--mg-button-rounded: 10px;
		--mg-button-background: #151515;
		--mg-button-border: #151515;
		width: 100%;
		justify-content: space-between;
		padding: 10px 17px 10px 74px;

		&:after {
			position: absolute;
			top: 50%;
			left: 14px;
			transform: translateY(-50%);
			content: '';
			width: 48px;
			height: 48px;
			background: url(../images/sw-logo.png) no-repeat center;
		}

		.button-icon {
			color: $primary-color;
		}

		&.updating-icon {
			&:before {
				font-size: 24px;
				left: auto !important;
				right: 0;
			}

			span {
				opacity: 1 !important;
			}
		}
	}
}

.wallet-account-address {
	border-radius: 8px;
	background: #1f1f1f;
	padding: 10px 48px 10px 19px;
	min-height: 84px;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;

	+ .wallet-account-address {
		margin: 12px 0 0;
	}

	.wallet-icon {
		flex-shrink: 0;
		margin: 0 11px 0 0;
		padding: 3px;
		border: 2px solid $secondary-color;
		border-radius: 50%;
		width: 36px;
		height: 36px;
		position: relative;

		&:before {
			display: block;
			content: '';
			width: 100%;
			height: 100%;
			background: url(../images/wallet-icon.png) no-repeat center;
			background-size: cover;
		}

		img {
			width: 100%;
		}
	}

	.wallet-info {
		flex-grow: 1;
	}

	.wallet-name {
		font-size: 16px;
		font-weight: 700;
		line-height: 28px;
		color: #fff;
	}

	.wallet-address {
		font-size: 12px;
		line-height: 26px;
		font-weight: 500;
		color: #555;
		word-break: break-all;
	}

	&.selected-account {
		background: $background-2;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 14px;
			transform: translate(0, -50%);
			width: 24px;
			height: 24px;
			background: url(../svgs/Check.svg) no-repeat center;
			background-size: cover;
		}
	}
}

.btn-logout-subwallet-wrap {
	text-align: center;
	margin: 25px 0 0;

	.button {
		min-width: 160px;
	}
}

.modal-subscribe {
	--modal-header-spacing: 26px;
	--modal-spacing: 60px 30px;

	.modal-content-header {
		text-align: center;
	}
}

.modal-first-vote-notice {
	--modal-header-spacing: 49px;
	--modal-spacing: 75px 40px 40px;
	text-align: center;

	.modal-title {
		font-size: 40px;
		line-height: 1.3;
		display: inline-block;
		background: -webkit-linear-gradient(96.41deg, #3ee200 3.81%, #ecff0c 40.3%, #4cf371 96.16%);
		background: linear-gradient(96.41deg, #3ee200 3.81%, #ecff0c 40.3%, #4cf371 96.16%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
		/** Fix text gradient cropped **/
		padding-top: .1785em;
	}

	.modal-sub-title {
		font-size: 28px;
		font-weight: 500;
		line-height: 40px;
		margin: 6px 0 0;
	}

	.btn-twitter-share {
		margin: 39px 0 0;
		--mg-button-text: #fff;
		--mg-button-border: #1c88e6;
		--mg-button-background: #1c88e6;
	}
}

.first-vote-messages {
	border-radius: 10px;
	background: $background-2;
	font-size: $body-font-size-small;
	line-height: 30px;
	font-weight: 500;
	padding: 23px 20px 27px;

	img {
		width: auto;
		max-height: 22px;
		vertical-align: middle;
		margin: 0 8px 0 0;
	}
}

.first-vote-last-message {
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	margin: 19px 0 0;
}

.modal-vote-error {
	--modal-width: 450px;
	--modal-spacing: 30px 2rem;
	text-align: center;

	.modal-content-wrap {
		border: 2px solid #f82613;
	}
}

.vote-error-message {
	color: #fff;
	font-size: 20px;
	line-height: 32px;
	margin: 12px 0 0;
}

.modal-vote-coming {
	--modal-header-spacing: 33px;
	--modal-spacing: 74px 40px 40px;
	text-align: center;

	.modal-content-wrap {
		background: #232323 url(../images/vote-decor.png) no-repeat top center;
	}

	.modal-title {
		font-size: 34px;
		line-height: 1.3;
		display: inline-block;
		background: -webkit-linear-gradient(96.41deg, #3ee200 3.81%, #ecff0c 40.3%, #4cf371 96.16%);
		background: linear-gradient(96.41deg, #3ee200 3.81%, #ecff0c 40.3%, #4cf371 96.16%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
		/** Fix text gradient cropped **/
		padding-top: .1785em;
	}

	.modal-sub-title {
		font-size: 26px;
		font-weight: 500;
		line-height: 36px;
		margin: 0 0 3px;
	}

	.modal-description {
		font-size: 17px;
		font-weight: 500;
		line-height: 30px;
		max-width: 430px;
		margin: 20px auto 0;

		mark {
			color: #fff;
			font-weight: 700;
		}
	}

	.vote-feature-guide {
		background: $background-2;
		color: #fff;
		border-radius: 10px;
		padding: 23px 30px 28px;
		font-size: 18px;
		font-weight: 500;
		line-height: 30px;

		li {
			position: relative;
			list-style-type: none;
			text-align: left;
			padding: 0 0 0 38px;

			a {
				display: block;
				word-break: break-all;
			}

			> svg {
				position: absolute;
				top: 4px;
				left: 0;
			}

			+ li {
				margin: 9px 0 0;
			}
		}
	}

	.vote-feature-note {
		font-size: 15px;
		font-weight: 500;
		line-height: 26px;
		margin: 26px 0 0;

		img {
			width: auto;
			max-height: 22px;
			vertical-align: middle;
			margin: 0 4px;
		}
	}

	.button {
		margin: 32px 0 0;
		--mg-button-height: 56px;
		min-width: 284px;
	}
}

@include media-breakpoint-down(xs) {
	.dotinsights-modal {
		--modal-spacing: 2rem 20px;
		--modal-header-spacing: 20px;
		--modal-title-size: 18px;
	}

	.modal-subscribe {
		.modal-content-wrap {
			flex-direction: column;
		}

		.button-close-modal {
			color: #fff;
		}

		.modal-content-left {
			width: 100%;
			max-width: 100%;
			min-height: 240px;
		}
	}

	.modal-first-vote-notice {
		.modal-title {
			font-size: 28px;
			line-height: 40px;
		}

		.modal-sub-title {
			font-size: 20px;
			line-height: 30px;
		}
	}

	.first-vote-messages {
		font-size: 16px;
	}
}
