.btn-open-panel {
	position: fixed;
	top: 200px;
	left: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	color: $primary-color;
	background: $background-2;
	border: 2px solid #404040;
	border-left: 0;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 0 34px rgba(144, 255, 44, .25);
	cursor: pointer;
	z-index: 99;

	&:hover {
		color: $button-hover-text;
		background: $button-hover-background;
		border-color: $button-hover-background;
	}

	svg {
		*[stroke^='#'] {
			stroke: currentColor;
		}

		*[fill^='#'] {
			fill: currentColor;
		}
	}
}

.btn-close-panel {
	position: absolute;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	color: #fff;
	background: $background-3;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	top: 20px;
	left: 0;
	z-index: 1;
	&:hover {
		color: $button-hover-text;
		background: $button-hover-background;
	}

	svg {
		*[stroke^='#'] {
			stroke: currentColor;
		}

		*[fill^='#'] {
			fill: currentColor;
		}
	}
}

.table-of-contents {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 100000; // Less than popup
	transition: all .25s;
	background: rgba(0, 0, 0, 0.5);
	cursor: url(../images/cursor/light-close.png) 16 16, pointer;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	.panel {
		position: absolute;
		top: 0;
		right: 100%;
		background: $background-2;
		height: 100%;
		width: 290px;
		max-width: calc(100% - 50px);
		padding: 84px 0 50px;
		transition: all .5s;
		cursor: auto;
	}

	&.open {
		pointer-events: auto;
		opacity: 1;
		visibility: visible;

		.panel {
			transform: translateX(100%);
			box-shadow: -3px 0px 50px -2px rgba(255, 255, 255, 0.14);
		}
	}

	.panel-content {
		padding: 0 30px;
		height: calc(100vh - 134px);
		overflow-y: auto;
	}

	.table-contents-list {
		margin: 0;
		padding: 0;

		a {
			display: inline !important;
			font-size: 15px;
			font-weight: 700;
			color: #fff;

			&:hover {
				color: $primary-color !important;
			}
		}

		li {
			list-style-type: none;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box !important;
			-webkit-line-clamp: 1; /* number of lines to show */
			-webkit-box-orient: vertical;
		}

		ul {
			margin: 6px 0 0;

			li {
				line-height: 28px;
				margin: 3px 0 0 !important;
			}

			a {
				font-size: 14px;
				font-weight: 500;
				color: $body-color;
			}
		}
	}
}
