.page-home {
	.main-content {
		padding-top: 0;
	}

	.section-hero {
		--s-header-width: 100%;
		--s-header-spacing: 0;
		--s-desc-width: 595px;
		--s-desc-top: 35px;
		--s-callout-top: 24px;

		padding: 206px 0 136px;

		.section-title {
			font-size: 56px;
			line-height: 1.286;
		}

		.section-description {
			font-size: 20px;
			line-height: 1.6;
		}
	}

	.hero-image-group {
		margin: 0 0 0 -125px;
	}

	.hero-shape-dot {
		top: 0;
		right: 22%;
		--shape-max-width: 9.5vw;
		--shape-width: 172px;
		--shape-transform: translateY(-30%);
	}

	.hero-shape-s-circle {
		right: 12%;
		bottom: 14%;
		--shape-max-width: 16.6vw;
	}

	.hero-shape-02 {
		left: 30%;
		top: 25%;
	}

	.hero-shape-03 {
		left: 20%;
		top: 0;
		--shape-max-width: 13vw;
		--shape-width: 230px;
		--shape-transform: translateY(-50%);
	}

	.hero-shape-ksm {
		left: 20%;
		bottom: 8%;
		--shape-max-width: 11vw;
	}

	.hero-shape-satellite {
		left: 50%;
		bottom: 35%;
		--shape-width: 20px;
	}
}

@include media-breakpoint-down(lg) {
	.page-home {
		.section-hero {
			padding: 150px 0 120px;

			.section-title {
				font-size: 46px;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.page-home {
		.section-hero {
			.section-title {
				font-size: 36px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.page-home {
		.section-hero {
			padding: 120px 0 80px;
			--s-header-width: 470px;
			--s-desc-top: 25px;

			.section-header-beside .section-header-inner {
				text-align: center;
				margin: 0 auto;

				.button-group {
					justify-content: center;
				}
			}
		}

		.hero-image-group {
			margin: 0;
			text-align: center;

			.main-image {
				width: 80vw;
				margin: 0 auto;
			}
		}
	}
}
