@charset "UTF-8";

@font-face {
	font-family: 'Unbounded';
	src: url('Unbounded-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Unbounded';
	src: url('Unbounded-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Unbounded';
	src: url('Unbounded-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}

/*
@font-face {
	font-family: 'Unbounded';
	src: url('Unbounded-ExtraLight.ttf') format('truetype');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'Unbounded';
	src: url('Unbounded-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Unbounded';
	src: url('Unbounded-Black.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
}*/
