@charset "UTF-8";

@font-face {
	font-family: 'TTCommons';
	src: url('TTCommons-Regular.otf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'TTCommons';
	src: url('TTCommons-Italic.otf') format('truetype');
	font-style: italic;
	font-weight: 400;
}

/*
@font-face {
	font-family: 'TTCommons';
	src: url('TTCommons-ExtraLight.otf') format('truetype');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'TTCommons';
	src: url('TTCommons-ExtraLightItalic.otf') format('truetype');
	font-style: italic;
	font-weight: 200;
}

@font-face {
	font-family: 'TTCommons';
	src: url('TTCommons-Light.otf') format('truetype');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'TTCommons';
	src: url('TTCommons-LightItalic.otf') format('truetype');
	font-style: italic;
	font-weight: 300;
}
*/

@font-face {
	font-family: 'TTCommons';
	src: url('TTCommons-Medium.otf') format('truetype');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'TTCommons';
	src: url('TTCommons-MediumItalic.otf') format('truetype');
	font-style: italic;
	font-weight: 500;
}

@font-face {
	font-family: 'TTCommons';
	src: url('TTCommons-DemiBold.otf') format('truetype');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'TTCommons';
	src: url('TTCommons-DemiBoldItalic.otf') format('truetype');
	font-style: italic;
	font-weight: 600;
}

/*@font-face {
	font-family: 'TTCommons';
	src: url('TTCommons-Bold.otf') format('truetype');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'TTCommons';
	src: url('TTCommons-BoldItalic.otf') format('truetype');
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: 'TTCommons';
	src: url('TTCommons-ExtraBold.otf') format('truetype');
	font-style: normal;
	font-weight: 800;
}

@font-face {
	font-family: 'TTCommons';
	src: url('TTCommons-ExtraBoldItalic.otf') format('truetype');
	font-style: italic;
	font-weight: 800;
}

@font-face {
	font-family: 'TTCommons';
	src: url('TTCommons-Black.otf') format('truetype');
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: 'TTCommons';
	src: url('TTCommons-BlackItalic.otf') format('truetype');
	font-style: italic;
	font-weight: 900;
}*/
