.header {
	@extend %NormalTransition;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;

	.header-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 32px 0;
	}
}

.header-pinned {
	background: #000315;
}

.header.header-pinned {
	.header-inner {
		min-height: 50px;
		padding: 15px 0;
	}
}

.site-branding {
	line-height: 1;

	a {
		display: block;
	}

	img {
		display: block;
		width: 227px;
	}
}

.header-left,
.header-right {
	flex-shrink: 0;
}

.header-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	.button {
		margin: 0 0 0 10px;
		max-width: 200px;
		text-align: left;
	}
}

.btn-open-connect-wallet {
	.button-text {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 1; /* number of lines to show */
		-webkit-box-orient: vertical;
		word-break: break-all;

		> span {
			display: inline !important;
		}
	}
}

.header-center {
	flex-grow: 1;
}

.primary-menu {
	ul {
		margin: 0;
	}

	.nav-item {
		position: relative;
		margin: 0;
	}

	.nav-link {
		position: relative;
		font-weight: 600;
		font-size: 18px;
		line-height: 30px;
		padding: 10px 20px;
		color: #555;

		&:hover {
			color: $primary-color;
		}
	}

	.active-item > .nav-link {
		color: $primary-color;

		.nav-text:after {
			width: 100%;
			left: 0;
			right: auto;
		}
	}

	.nav-text {
		display: inline-block;
		position: relative;

		&:after {
			content: '';
			width: 0;
			height: 2px;
			position: absolute;
			left: auto;
			right: 0;
			bottom: -6px;
			transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
			background: $primary-color;
		}
	}

	.nav-badge {
		position: absolute;
		left: 100%;
		top: -10px;
		transform: translate(9px, 0);
		display: inline-block;
		padding: 3px 8px;
		font-size: 15px;
		font-weight: 600;
		line-height: 18px;
		color: #0f1533;
		background: linear-gradient(85.05deg, #ecff0c 6.12%, #09ef9c 100.75%);
		border-radius: 10px 10px 10px 0;
	}

	.sub-menu {
		@extend %NormalTransition;
		position: absolute;
		top: 100%;
		right: 0;
		border-radius: 10px;
		padding: 13px 0;
		margin: 0;
		background: #000315;
		border: 2px solid $primary-color;
		box-shadow: 0 4px 34px rgba(102, 225, 182, .3);
		opacity: 0;
		visibility: hidden;
		transform: translateY(20px);
		min-width: 200px;

		.nav-link {
			font-size: 16px;
			padding: 5px 1rem;
		}
	}

	li {
		list-style-type: none;

		&:hover {
			> ul {
				opacity: 1;
				visibility: visible;
				transform: translateZ(0);
			}
		}
	}
}

.navbar-toggler {
	min-height: 0;
	margin: 0 0 0 16px;
	display: block;
	position: relative;
	width: 28px;
	height: 24px;
	color: #fff;
	border-color: transparent;

	&:hover,
	&:focus {
		box-shadow: none;
		background: none;
		outline: none;
		border-color: transparent;
		color: #fff;
	}

	.navbar-toggler-icon {
		display: none;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -1px;
		width: 100%;
		height: 2px;
		background: currentColor;
	}

	&:before {
		position: absolute;
		top: -1px;
		left: 2px;
		width: 32px;
		height: 2px;
		background: currentColor;
		content: '';
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transition: all .3s;
		transition: all .3s;
	}

	&:after {
		position: absolute;
		bottom: -1px;
		left: 2px;
		width: 32px;
		height: 2px;
		background: currentColor;
		content: '';
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-transform-origin: 0 100%;
		-ms-transform-origin: 0 100%;
		transform-origin: 0 100%;
		-webkit-transition: all .3s;
		transition: all .3s;
	}

	&.collapsed .navbar-toggler-icon {
		display: block;
	}

	&.collapsed:before,
	&.collapsed:after {
		left: 0;
		width: 100%;
		height: 2px;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
	}

	&.collapsed:before {
		bottom: 0;
	}

	&.collapsed:after {
		bottom: 0;
	}
}

.nav-item--mobile-button {
	> .button {
		margin: 10px 1rem 10px !important;
	}
}

@media screen and(min-width: 1400px) {
	.header {
		.header-inner {
			padding: 47px 0 20px;
		}
	}

	.primary-menu {
		> .nav > .nav-item {
			margin: 0 44px 0 0;

			&:last-child {
				margin: 0;
			}
		}
	}
}

@media only screen and (max-width: 1500px) {
	.language-switcher {
		.current-lang {
			.lang-label {
				display: none;
			}
		}
	}
}

@media screen and(max-width: 1400px) {
	.primary-menu {
		.nav-link {
			font-size: 16px;
			padding: 10px 15px;
		}

		.sub-menu {
			.nav-link {
				font-size: 15px;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.site-branding {
		img {
			width: 180px;
		}
	}
}

@include media-breakpoint-down(xs) {
	.header-right .header-button {
		display: none;
	}
}

@media only screen and (min-width: 1100px) {
	.primary-menu {
		.nav {
			justify-content: center;
		}
	}

	.navbar-toggler {
		display: none;
	}
}

@media screen and (max-width: 1099px) {
	.primary-menu {
		transition: all .15s linear;
		position: absolute;
		top: 100%;
		left: 15px;
		right: 15px;
		background-color: #000;
		border: 2px solid #66e1b6;
		box-shadow: 0 4px 34px rgba(102, 225, 182, .3);
		border-radius: 10px;
		transform: translateY(20px);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;

		&.opened {
			transform: none;
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}

		.nav-link {
			padding: 6px 1rem;
		}

		.nav-text {
			&:after {
				bottom: 0;
				height: 1px;
			}
		}

		> ul {
			display: flex;
			padding: 13px 0;
			margin: 0 -10px;

			> li {
				flex: 0 0 100%;
				max-width: 100%;
				padding: 0 10px;
				margin: 0 !important;
			}
		}

		.sub-menu {
			position: static;
			top: auto;
			right: auto;
			transform: none;
			border: 0;
			background: none;
			box-shadow: none;
			opacity: 1;
			visibility: visible;
			margin: 0 0 0 20px;
			padding: 0;
		}
	}
}

@media screen and(min-width: 544px) {
	.primary-menu .nav-item--mobile-button {
		display: none !important;
	}
}
