/* Mobile Menu */
.navbar-toggler {
	margin: 0 0 0 16px;
	display: block;
	position: relative;
	width: 28px;
	height: 24px;
	color: #fff;
	border-color: transparent;

	&:hover,
	&:focus {
		box-shadow: none;
		background: none;
		outline: none;
		border-color: transparent;
		color: #fff;
	}

	.navbar-toggler-icon {
		display: none;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -1px;
		width: 100%;
		height: 2px;
		background: currentColor;
	}

	&:before {
		position: absolute;
		top: -1px;
		left: 2px;
		width: 32px;
		height: 2px;
		background: currentColor;
		content: '';
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transition: all .3s;
		transition: all .3s;
	}

	&:after {
		position: absolute;
		bottom: -1px;
		left: 2px;
		width: 32px;
		height: 2px;
		background: currentColor;
		content: '';
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-transform-origin: 0 100%;
		-ms-transform-origin: 0 100%;
		transform-origin: 0 100%;
		-webkit-transition: all .3s;
		transition: all .3s;
	}

	&.collapsed .navbar-toggler-icon {
		display: block;
	}

	&.collapsed:before,
	&.collapsed:after {
		left: 0;
		width: 100%;
		height: 2px;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
	}

	&.collapsed:before {
		bottom: 0;
	}

	&.collapsed:after {
		bottom: 0;
	}
}

.mobile-menu {
	position: absolute;
	top: 100%;
	left: 15px;
	right: 15px;
	background-color: $body-bg-color;
	border: 2px solid $primary-color;
	box-shadow: 0 4px 34px rgba(102, 225, 182, .3);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	ul {
		display: flex;
		padding: 13px 0;
		margin: 0 -10px;
	}

	li {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0 10px;
		margin: 0 !important;
	}

	a:not(.button) {
		position: relative;
		color: $body-color;
		font-family: $heading-font-family;
		font-weight: $heading-font-weight-secondary;
		font-size: 15px;
		line-height: 26px;
		padding: 8px 15px;

		&:hover,
		&:focus {
			color: $primary-color;
		}
	}

	.nav-text {
		position: relative;
	}

	.nav-badge {
		position: absolute;
		left: 100%;
		top: -10px;
		transform: translate(9px, 0);
		display: inline-block;
		padding: 3px 8px;
		font-size: 15px;
		font-weight: 600;
		line-height: 18px;
		color: #0f1533;
		background: linear-gradient(85.05deg, #ecff0c 6.12%, #09ef9c 100.75%);
		border-radius: 10px 10px 10px 0;
	}

	.button {
		display: none;
		margin: 10px 15px 10px !important;
	}
}

@media screen and(max-width: 543px) {
	.mobile-menu .button {
		display: inline-flex !important;
	}
}






